

@import "./components/variables";
@import "./components/mapas";
@import "./components/extends";
@import "./components/mixins";
@import"./base/indexproduct";
@import "./base/envios";
@import "./base/contacto";
@import "./base/sobrenosotros";
@import "./base/productosjs";







*{
    margin: 0 ;
   
    padding: 0;
    box-sizing: border-box;
    
    body::-webkit-scrollbar{width: 15px;}
    body::-webkit-scrollbar-thumb {background: rgba(204, 0, 255, 0.705);
    border-radius: 15px}
        

}
// estilos generales





.indexProductGrid{
    @include GridIndeXproducts;
    
    header{
        grid-area:header;
        z-index: 2;
       
    }

    main{
        grid-area:main;
        background-color: rgba(220, 221, 207, 0.651);
       
    }

    footer{
        

        grid-area:footer;
        margin-top:3em;
        margin-left: 0.5em;
        background-color: map-get($map: $colorfooter, $key:color );
        max-height: 8em;
        .letraFooter
            {font-family: 'Bebas Neue', cursive;
            }
    }



    }

    /* menu horizantal */

    nav{
        display: flex;
        justify-content:space-evenly;
        background-color:map-get($map: $colorNav, $key:color );
        width: 100%;
        height: 80px;
        align-items: center
       ;
         ul{
        display: flex;
        flex-wrap: wrap;
        li  {
            display: inline-block;
            ;
            margin: 15px;
            font-size: 25px;

            a{
                text-decoration: none;
                font-family: 'Bebas Neue', cursive;
                color: rgb(66, 15, 184);
                background-color: rgb(41, 165, 107);
                border-radius: 10px;
                padding: 15px;
                 transition: .7s;&:hover{
                    color: rgb(255, 0, 0);
                    transform:scale(1.8) ;
                }
               
                
            }
         
        }
        
      
    }
    
    }


    /* mensaje lateral izquierdo en index */
.tk{
    width: 110px;
    color:white;
    @extend %botonTK;
    
}

/* h1 correspondiente a todas las paginas */
h1{
    font-family: 'Bebas Neue', cursive !important;
    margin-left: 5px;
    font-size: 45px;
}

/* imagen principal de index */
.compu{
    
    border-radius: 15px;
    width: 90% ;
    margin-top: 100px;
    margin-left: 5em;
    margin-right: 4em;

}

footer{
    @extend%footerGeneral;
}


/*estilos de box de la pagina productos
*/ 


.headerProduct{margin-top:2.5em  ;
    margin-bottom: 9em ;}

.mainProduct{
        margin-top: 1em  ;
        margin-bottom: 1em;
    }


.footerProduc{
    margin-top: 1em ;
}





/* contenedor padre e hijos de la pagina "productos" */

.conteinerProducts{
    width: 75%;
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    .caja {
        border: 5px solid rgb(221, 216, 216);
        width: 280px;
        height: 280px ;
        background-color: $color-caja;
        margin:10px;
        padding: 0.3rem;
        text-align: center;
        color: white;
        font-size: 26px;
        font-family: 'Bebas Neue', cursive;
        border-radius: 30px;&:hover{
            box-shadow: rgb(211, 2, 211) 1px 1px 2px 2px; color:rgb(211, 2, 211) ;
            transform: scale(1.05, 1.05);}
                .imgProduc{

                    border-radius: 1em;
                    margin: auto;
                    margin-bottom: 0.5em;
                    display: block;
                    width: 5em;
                }
    
    }


}






main{
    
    background-color: rgba(206, 223, 179, 0.849);
   
}



@import "./components/mediaqueries";

    