/* media queries para movil */

@media screen and (max-width:814px)  {
    
    .headerGrid {
        margin-top: 6em;
    }
    

   header{
       margin-left: .5em;
   }

    nav{
        
        display: flex;
        flex-direction: column;
        height: 310px;
        
        ;
        width:100% ;
        margin: 0px;
        margin-bottom: 0px;
    }

    

    nav ul li{
        margin-left: 7em;
        padding: 19px;
        width: 500px;
        height: 20px;

    }

    main{
        margin-top:1em;
    }

    a{
        font-size: 1em;
    }

   

    ul{
        padding: 15px;
      
    }

    .compu{
        
        margin: auto;
        width: 90%;
        
    }

    .footerGrid{

        margin-top: -20em;
        margin-left:1px ;
        width: 100%;
        max-height: 7em;
    }



.mainproduct{
    margin-top: 8em ;
    margin-bottom: 9em;
}

.footerProduc{
    margin-top: 1em ;
}

.headerProduct{margin-top:-3em  ;
                margin-bottom: 30em ;}

 
}

.mainNosotros{
    margin-top: 11em  ;
    margin-bottom: 2em;
    align-content: center;
    justify-content: center;
}


.enviosGrid{display: gridnone;}


